<div class="forecast-card">
  <div class="date"><%= date %></div>
  <div class="time"><%= time %></div>
  <div class="forecasted-uv-index">UV Index: <%= uv %></div>
  <div class="image">
    <img src="<%= imgSrc %>" alt="">
  </div>
</div>