<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Chewy&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="styles/main.css">
  <title>UV Helper</title>
</head>
<body>
  <div class="main-container">
    <div class="main-info">
      <h1>
        <%= title %>
      </h1>
      <img src="images/koala_beaver_walking.png" style="width: 300px; height: 300px;" alt="beaver_and_koala_walking">
      <button id="sunscreen-btn">Update</button>
    </div>
    <div class="additional-info">
      <% forecastedCards.forEach(card => { %>
        <%- include('forecast-card', {
          date: card.date,
          time: card.time,
          uv: card.uv,
          imgSrc: card.imgSrc
        }) %>
      <% }); %>
    </div>
  </div>
  
  <script src="scripts/location.js"></script>
</body>
</html>
